

footer {
    padding: 2rem 10%;
    background: $dark_theme;
    color: rgba($white, 0.8);
}

.footer_top {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($theme, 0.4);

    a {
        margin-left: 1rem;
        color: $white;
        transition: $transition;

        &:hover {
            color: lighten($theme, 16%);
        }

        @include breakpoint(768px, max) {
            margin-left: 0;
            margin-right: 1rem;
        }
    }

    @include breakpoint(768px, max) {
        display: block;
        text-align: left;
    }
    
    .footer_top_left a {
        margin-left: 0;
    }

    .footer_top_right {

        @include breakpoint(768px, max) {
            margin-top: 0.5rem;
        }

        @include breakpoint(1024px, max) {
            text-align: right;
        }

        @include breakpoint(768px, max) {
            text-align: left;
        }
    }
}

.footer_bottom {
    @extend .footer_top;
    border: none;

    .footer_bottom_left {

        @include breakpoint(768px, max) {
            margin-bottom: 0.5rem;
        }

        a {
            margin-right: 1rem;
            margin-left: 0;
            color: $white;
            transition: $transition;

            &:hover {
                color: lighten($theme, 16%);
            }
        }
    }
    .footer_bottom_right a {
        color: $white;
        transition: $transition;

        &:hover {
            color: lighten($theme, 16%);
        }
    }
}