
.hero {
    position: relative;
    padding: 2rem 10%;
    height: 70vh;
    background: url('../images/hero_bg.jpg') no-repeat fixed bottom right;
    background-size: cover;
    z-index: 0;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(246, 246, 246, 0.6) 34.38%, #F6F6F6 100%);
        z-index: -1;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_container {
    cursor: default;
    font-size: 0;
    font-weight: 900;

    &:hover span {
        color: $theme;
    }
    b, span {
        font-size: 24px;
        color: $theme;
    }
    span {
        color: rgba($theme, 0.3);
        transition: color 0.1s ease-in-out;

        &:nth-child(1) {transition-delay: 0.1s;}
        &:nth-child(2) {transition-delay: 0.2s;}
        &:nth-child(3) {transition-delay: 0.3s;}
        &:nth-child(4) {transition-delay: 0.4s;}
        &:nth-child(5) {transition-delay: 0.5s;}
        &:nth-child(6) {transition-delay: 0.6s;}
        &:nth-child(7) {transition-delay: 0.7s;}
        &:nth-child(8) {transition-delay: 0.8s;}
        &:nth-child(9) {transition-delay: 0.9s;}
        &:nth-child(10) {transition-delay: 1s;}
    }
}

header nav {
    background: $white;
    padding: 0.3rem 0.4rem;
    border-radius: 30px;
    box-shadow: 0px 10px 50px rgba(18, 22, 25, 0.05);
    font-size: 0;

    a {
        padding: 0.6rem 2.2rem;
        color: $theme;
        font-size: 1rem;
        border-radius: 30px;
        display: inline-block;
        overflow: hidden;

        // &.active {
        //     @include linked_buttons("focused", $rounded: true);
        // }
        &:last-child {
            @include linked_buttons("focused", "true");
            position: relative;
            overflow: hidden;
            z-index: 0;

            &::after {
                @include linked_buttons("focused", "true");
                content: 'Email';
                text-align: center;
                position: absolute;
                top: 100%;
                left: 0;
                background: $theme;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
            }
            &:hover::after {
                top: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.quick_intro {
    position: absolute;
    bottom: 4rem;
    display: flex;
    align-items: center;

    img {
        width: 15rem;
        margin-right: 1.5rem;
    }
}

.quick_intro_text_group {
    h1 {
        font-size: 3.8rem;
        font-weight: 900;
        line-height: 1;
    }
    ul {
        margin-top: 0.6rem;

        li {        
            list-style: none;
            font-size: 1.2rem;
            font-weight: 600;
            color: rgba($black, 0.3);
        }
    }
    a {
        @include linked_buttons("focused", "true");
        position: relative;
        margin-top: 1.5rem;
        overflow: hidden;
        z-index: 0;

        &::after {
            @include linked_buttons("focused", "true");
            content: '40 MB, PDF';
            text-align: center;
            position: absolute;
            top: 100%;
            left: 0;
            background: $theme;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
        }
        &:hover::after {
            top: 0;
            opacity: 1;
            visibility: visible;
        }
    }
}

.landing_quick_links{
    position: absolute;
    bottom: 4rem;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: end;

    a {
        @include linked_buttons("nonfocused", "true");
        margin-top: 0.8rem;
        font-weight: 400;
        background: rgba($white, 0.6);
        backdrop-filter: blur(60px);
    }
}