
.modal_overlay {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.1);
    mix-blend-mode: normal;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2.5rem);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: $transition;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

#coming_soon_modal {
    position: absolute;
    width: 80%;
    top: 2rem;
    text-align: center;
    background: $section_bg;
    border-radius: 30px;
    padding: 5rem 2rem;
    margin: 5rem 10%;
    z-index: 1000;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: $transition;

    &.active {
        top: 0;
        visibility: visible;
        opacity: 1;
    }

    @include breakpoint(768px, max) {
        width: calc(100% - 4rem);
        margin: 5rem 2rem;
    }
}

.coming_soon_contents {
    h1 {
        margin-bottom: 0;
    }
    p {
        margin: 0 0 1.5rem 0;
    }
    span {
        @include linked_buttons("focused", "true");
        cursor: pointer;
    }
}

#community_modal, #experiences_modal {
    position: absolute;
    top: 2rem;
    margin: 5rem 10%;
    padding: 0 10%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: $transition;

    &.active {
        top: 0;
        opacity: 1;
        visibility: visible;
    }

    @include breakpoint(1024px, max) {
        margin: 5rem 0;
    }

    @include breakpoint(768px, max) {
        padding: 0 2rem;
    }

    .modal_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.2rem;

        .category_title {
            background: none;
            -webkit-background-clip: unset;
            background-clip: unset;
            -webkit-text-fill-color: unset;
            color: $black;
            margin-bottom: 0;
        }
        span {
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            background: $white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 1rem;
            }
        }
    }
    .extracurricular, .experiences {
        margin-bottom: 1.2rem;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.9);
        transition: $transition;

        // &.one {
        //     transition-delay: 0.1s;
        // }
        // &.two {
        //     transition-delay: 0.2s;
        // }
        &.active {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }
    .close_modal_btn_wrap {
        display: flex;
        margin-bottom: 5rem;
        
        .close_modal_btn {
            @include linked_buttons("focused", "true");
            cursor: pointer;
            margin-left: auto;
        }
    }
}