
.category_title {
    font-weight: 900;
    font-size: 2.25rem;
    color: rgba($black, 0.5);
    margin-bottom: 1.2rem;
    
    background: linear-gradient(60deg, #3374F3 0%, #9021FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;

    transition: $transition;
}

.category_image {
    box-shadow: 0 3rem 4rem $section_bg;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
}

.category_subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.category_meta {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
    color: rgba($black, 0.5);
    margin: 0.6rem 0 1.2rem 0;

    a {
        color: rgba($black, 0.5);
        &:hover {
            color: $theme;
        }
    }
}

.category_info {
    color: rgba($black, 0.8);

    ul {
        margin: 1rem 0 0 1rem;  

        a {
            font-weight: 500;
            color: $theme;
        }
    }
}

.category_link {
    @extend .category_info;
    margin-top: 1rem;

     a {
        position: relative;
        color: $theme;
        background: $highlight;
        font-weight: 500;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            height: 1.8px;
            background: $theme;
            transition: $transition;
        } 
        &:hover::after {
            width: 0;
        }
     }
}

.category_extra_btn {
    @include linked_buttons("focused", "true");
    margin-top: 1.8rem;
}