
// linked buttons

@mixin linked_buttons($type, $rounded: "false") {
    display: inline-block;
    font-size: 1rem;
    padding: 0.6rem 2.2rem;
    background: $highlight;
    color: $theme;
    font-weight: 600;
    border-radius: 10px;
    transition: $transition;

    @if $rounded == "true"{
        border-radius: 30px;
    }
    @if $type == "focused" {
        background: $theme;
        color: $white;
    } 
    @if $type == "nonfocused" {
        background: $highlight;
        color: $theme;

        &:hover {
            background: $theme;
            color: $white;
        }
    }
}

@mixin nonlinked_buttons {
    display: inline-block;
    font-size: 1rem;
    padding: 0.6rem 2.2rem;
    background: $highlight;
    color: $dark_theme;
    font-weight: 600;
    border-radius: 10px;
}


@mixin resume_category {
    padding: 3rem;
    background: $white;
    border-radius: 30px;
}