
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", 'Segoe UI', sans-serif;
    font-size: 100%;
    font-size-adjust: none;
    line-height: 1.5;
    letter-spacing: -0.5px;
    background: $white;
    color: $black;
}

a {
    text-decoration: none;
}

