
// POPPINS

@font-face {
    // font-family: poppins;
	font-family: "poppins", Arial;
	src: url("../fonts/poppins/Poppins-Light.otf");
	font-weight: 300;
	font-display: swap;
}

@font-face {
    font-family: poppins;
	font-family: "poppins", Arial;
    src: url("../fonts/poppins/Poppins-Regular.otf");
    font-weight: 400;
	font-display: swap;
}

@font-face {
    font-family: poppins;
	font-family: "poppins", Arial;
    src: url("../fonts/poppins/Poppins-Medium.otf");
    font-weight: 500;
	font-display: swap;
}

@font-face {
    font-family: poppins;
	font-family: "poppins", Arial;
    src: url("../fonts/poppins/Poppins-SemiBold.otf");
    font-weight: 600;
	font-display: swap;
}

@font-face {
    font-family: poppins;
	font-family: "poppins", Arial;
    src: url("../fonts/poppins/Poppins-Bold.otf");
    font-weight: 700;
	font-display: swap;
}

@font-face {
    font-family: poppins;
	font-family: "poppins", Arial;
    src: url("../fonts/poppins/Poppins-ExtraBold.otf");
    font-weight: 800;
	font-display: swap;
}

@font-face {
    font-family: poppins;
	font-family: "poppins", Arial;
    src: url("../fonts/poppins/Poppins-Black.otf");
    font-weight: 900;
	font-display: swap;
}